<!-- Imagenes Home -->
<div ng-controller="HomeController">
    <h1>Home</h1>
    
    <div class="card-group">

        <div class="card">
            <img src="img/H4.jpg" class="card-img-top" alt="Error al abrir la imagen">
            <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quo dolorum voluptates? Aperiam, quidem inventore hic molestiae aliquam neque nisi labore modi dolorum nihil facilis explicabo consequatur? Eos, nam voluptatem!</p>
            </div>
        </div>

        <div class="card">
            <img src="img/H5.jpg" class="card-img-top" alt="Error al abrir la imagen">
            <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reiciendis possimus facere vitae animi, asperiores assumenda ratione enim repudiandae necessitatibus pariatur, modi deleniti, debitis nisi quibusdam ex eos fuga nostrum.</p>
            </div>
        </div>

        <div class="card">
            <img src="img/H6.jpg" class="card-img-top" alt="Error al abrir la imagen">
            <div class="card-body">
                <h5 class="card-title">Lorem Ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil facere soluta repellendus ipsum nesciunt aspernatur beatae similique iste nostrum quos! Rerum esse, iure facere eaque debitis ipsum culpa excepturi ducimus.</p>
            </div>
        </div>
    </div>

</div>